{% set mainColor = "\#000000" %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block pageTitle %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="theme-color" content="{{ mainColor }}">
	<meta name="application-name" content="Pollistics">
	<meta name="msapplication-TileColor" content="{{ mainColor }}">
	<meta name="description" content="{% block description %}Pollistics makes polls easy.{% endblock %}">
	<meta name="author" content="Pollistics">
	<meta name="robots" content="index, follow">
	<link rel="stylesheet" href="https://gin-fizz.github.io/styleguide/src/main.css">
</head>
<body>
	{% block content %}{% endblock %}
	{% block scripts %}{% endblock %}
</body>
</html>
