<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block pageTitle %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<link rel="apple-touch-icon" sizes="180x180" href="https://style.pollistics.com/src/img/icon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="https://style.pollistics.com/src/img/icon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="https://style.pollistics.com/src/img/icon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="https://style.pollistics.com/src/img/icon/manifest.json">
	<link rel="mask-icon" href="https://style.pollistics.com/src/img/icon/safari-pinned-tab.svg" color="#2660a4">
	<link rel="shortcut icon" href="https://style.pollistics.com/src/img/icon/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="Pollistics">
	<meta name="application-name" content="Pollistics">
	<meta name="msapplication-config" content="https://style.pollistics.com/src/img/icon/browserconfig.xml">
	<meta name="theme-color" content="#fbfbfb">
	<meta name="description" content="{% block description %}Pollistics makes polls easy.{% endblock %}">
	<meta name="author" content="Pollistics">
	<meta name="robots" content="index, follow">
	<meta property="og:title" content="Pollistics" />
	<meta property="og:type" content="image/png" />
	<meta property="og:url" content="https://www.pollistics.com" />
	<meta property="og:image" content="https://style.pollistics.com/src/img/icon/preview-flat.png" />
	<meta property="og:image:width" content="1400" />
	<meta property="og:image:height" content="735" />
	{# TODO: ogp, twitter #}
	<link rel="stylesheet" href="https://style.pollistics.com/src/main.css">
</head>
<body>
	<header>
		<a href="/"><img src="https://style.pollistics.com/src/img/logo.svg" alt="home"></a>
		<div class="user">
		{% if user %}
			<a href="/account" class="cta">{{ user.username }}</a>
			<a href="/logout" class="cta">logout</a>
		{% else %}
			<a href="/login" class="cta">login</a>
			<a href="/register" class="cta">register</a>
		{% endif %}
		</div>
	</header>
	{% if message %}
		<div class="message {{ message_type }}">{{ message }}</div>
	{% endif %}
	<main>{% block content %}{% endblock %}</main>
	{% block scripts %}{% endblock %}
</body>
</html>
