{% extends "../layouts/main.twig" %}

{% block pageTitle %}Pollistics{% endblock %}

{% block content %}
	<ul>
		{% for poll in polls %}
			<li>
				<a href="/polls/{{ poll.id }}">{{ poll.title }} {{ poll.options }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
