{% extends "../layouts/main.twig" %}

{% block pageTitle %}Pollistics{% endblock %}

{% block content %}
	<ul class="cta-list">
		{% for poll in polls %}
			<li>
				<a href="/{% if poll.slug is empty %}{{ poll.id }}{% else %}{{ poll.slug }}{% endif %}">{{ poll.title }} {{ poll.options }}</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
