{% extends "../layouts/main.twig" %}

{% block pageTitle %}Pollistics | Unauthorized{% endblock %}
{% block description %}Pollistics encountered an error: 401 Unauthorized{% endblock %}

{% block content %}
	<h1>401 Unauthorized</h1>
	<a href="/">Go back home</a>
{% endblock %}