{% extends "../layouts/main.twig" %}

{% block pageTitle %}Login - Pollistics{% endblock %}
{% block description %}Login on Pollistics{% endblock %}

{% block content %}
<h1>Account</h1>
	<div class="account">
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Name: {% if user.name %}{{ user.name }}{% else %}No name set{% endif %}</p>
		<a href="/account/polls" class="cta">Show my polls</a>
	</div>
{% endblock %}
