{% extends "../layouts/main.twig" %}

{% block pageTitle %}Login - Pollistics{% endblock %}
{% block description %}Login on Pollistics{% endblock %}

{% block content %}
<h1>Login</h1>

<form method="post" action="/login" class="poll">
	<div class="poll--option">
		<label for="username">Username</label>
		<input type="text" name="username" id="username" placeholder="Username" required />
		{% if errors.getFieldError("username") %}
		<p class="error">{{ errors.getFieldError("username").getDefaultMessage() }}</p>
		{% endif %}
	</div>
	<div class="poll--option">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" placeholder="Password" required />
		{% if errors.getFieldError("password") %}
		<p class="error">{{ errors.getFieldError("password").getDefaultMessage() }}</p>
		{% endif %}
	</div>
	<div class="poll--option">
		<input type="submit" value="Login" />
	</div>
	<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}" />
	{% if request.getParameter('error') %}<p class="error">username or password is not correct</p>{% endif %}
</form>
{% endblock %}
