{% extends "../layouts/main.twig" %}

{% block pageTitle %}Login - Pollistics{% endblock %}
{% block description %}Login on Pollistics{% endblock %}

{% block content %}
<h1>Polls from {{ user.getUsername() }}</h1>
{% for poll in user.getUser().getPolls() %}
	<a href="/{{ poll.getId() }}">{{ poll.getTitle() }}</a>
{% endfor %}

<a href="/account" class="cta"> Go back to my account</a>
{% endblock %}
