{% extends "../layouts/main.twig" %}

{% block pageTitle %}Login - Pollistics{% endblock %}
{% block description %}Login on Pollistics{% endblock %}

{% block content %}
<h1>Polls from {{ user.getUsername() }}</h1>
<ul class="cta-list">
{% for poll in polls %}
	<li>
		<a href="/{{ poll.getSlug() }}">{{ poll.getTitle() }}</a>
	</li>
{% endfor %}
</ul>
<a href="/account" class="cta"> Go back to my account</a>
{% endblock %}
