{% extends "layouts/main.twig" %}

{% block pageTitle %}Pollistics Home{% endblock %}

{% block content %}
<p>{{ greeting }}</p>
<ul>
	{% for poll in polls %}
    <li>
        <a href="/polls/{{ poll.id }}">{{ poll.name }} {{ poll.options }}</a>
    </li>
    {% endfor %}
</ul>
<form method="POST">
	<input type="text" name="title"></input>
	<input type="text" name="option1"></input>
	<input type="text" name="option2"></input>
	<input type="text" name="option3"></input>
	<input type="submit" value="create"></input>
</form>
{% endblock %}
