{% extends "layouts/main.twig" %}

{% block pageTitle %}Pollistics Home{% endblock %}

{% block content %}
<form method="post" action="/polls/create" class="poll" id="createPollForm">
	<div class="poll--option poll--title">
		<label for="title">Title</label>
		<input type="text" name="title" id="title" required/>
	</div>
	<div class="poll--option">
		<label for="option0">Option 1</label>
		<input type="text" name="option0" id="option1" required/>
	</div>
	<div class="poll--option">
		<label for="option1">Option 2</label>
		<input type="text" name="option1" id="option2" required/>
	</div>
	<div class="poll--option">
		<label for="option2">Option 3</label>
		<input type="text" name="option2" id="option3" />
	</div>
	<div class="poll--option">
		<input type="submit" value="create" />
	</div>
	<div>
		<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"/>
	</div>
</form>
{% endblock %}
{% block scripts %}
	<script>
		var allOptions = document.querySelectorAll('.poll--option');
		var lastOption = allOptions[allOptions.length - 2];
		var i = 3;

		var lastInput = lastOption.querySelector('input');
		function addNewPollInput () {
			var newOption = document.createElement('div');
			newOption.classList.add('poll--option');
			newOption.innerHTML = `<label for="option${i}">Option ${i + 1}</label><input type="text" name="option${i}" id="option${i}" />`;
			createPollForm.insertBefore(newOption,lastOption.nextSibling);
			lastInput.removeEventListener('focus',addNewPollInput);
			allOptions = document.querySelectorAll('.poll--option');
			lastOption = allOptions[allOptions.length - 2];
			lastInput = lastOption.querySelector('input');
			lastInput.addEventListener('focus', addNewPollInput);
			i++;
		}
		lastInput.addEventListener('focus', addNewPollInput);
	</script>
{% endblock %}
