{% extends "layouts/main.twig" %}

{% block pageTitle %}Pollistics Home{% endblock %}

{% block content %}
<form method="post" action="/polls/create" class="poll">
	<div class="poll--option poll--title">
		<label for="title">Title</label>
		<input type="text" name="title" id="title" />
	</div>
	<div class="poll--option">
		<label for="option1">Option 1</label>
		<input type="text" name="option1" id="option1" />
	</div>
	<div class="poll--option">
		<label for="option1">Option 2</label>
		<input type="text" name="option2" id="option2" />
	</div>
	<div class="poll--option">
		<label for="option1">Option 3</label>
		<input type="text" name="option3" id="option3" />
	</div>
	<div class="poll--option">
		<input type="submit" value="create" />
	</div>
	<div>
		<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"/>
	</div>
</form>
{% endblock %}
