{% extends "layouts/main.twig" %}

{% block pageTitle %}Pollistics Home{% endblock %}

{% block content %}
<form method="post" action="/polls/create" class="poll" id="createPollForm">
	<div class="poll--option poll--title">
		<label for="title">Title</label>
		<input type="text" name="title" id="title" required/>
		{% if errors.getFieldError("title") %}
			<p class="error">{{ errors.getFieldError("title").getDefaultMessage() }}</p>
		{% endif %}
	</div>
	<div class="poll--option">
		<label for="option0">Option 1</label>
		<input type="text" name="option0" id="option0" required/>
	</div>
	<div class="poll--option">
		<label for="option1">Option 2</label>
		<input type="text" name="option1" id="option1" required/>
		{% if errors.getFieldError("options") %}
			<p class="error">{{ errors.getFieldError("options").getDefaultMessage() }}</p>
		{% endif %}
	</div>
	<div class="poll--option">
		<input type="submit" value="create" />
	</div>
	<details class="poll--advanced">
		<summary>advanced options</summary>
		<div class="poll--option">
			<label for="slug">Short link</label>
			<div>
				<span>https://pollistics.com/</span><input type="text" name="slug" id="slug" />
			</div>
		</div>
	</details>
	<input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}"/>
</form>
{% endblock %}
{% block scripts %}
	<script src="/js/poll-inputs.js"></script>
{% endblock %}
